<h1 class="w3-center">Editing Quote</h1>
<hr>
<div>
  <div class="w3-light-blue w3-display-middle w3-center" style="width:20%">

<%= render 'form', quote: @quote %>
<%= link_to 'Show', @quote %> |
<%= link_to 'Back', quotes_path %>
</div>
</div>
   
