<!DOCTYPE html>
<html>
  <head>
    <title>Quotes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="w3-bar w3-light-blue">
     <div class="w3-sidebar w3-bar-block w3-border-right w3-light-blue" style="display:none" id="mySidebar">
      <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
        <a href="/static_pages/home" class="w3-bar-item w3-button">Home</a>
        <a href="/quotes" class="w3-bar-item w3-button">Quotes</a>
        <a href="/static_pages/help" class="w3-bar-item w3-button">Help</a>
        <a href="/static_pages/about" class="w3-bar-item w3-button">About</a>
     </div>

        <a href="/static_pages/home" class="w3-bar-item w3-button">Home</a>
        <a href="/quotes" class="w3-bar-item w3-button">Quotes</a>
        <a href="/static_pages/help" class="w3-bar-item w3-button">Help</a>
        <a href="/static_pages/about" class="w3-bar-item w3-button">About</a>
    </div>
    <%= yield %>
  </body>
  <script>
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
</html>
